.github-btn {
  font: 700 11px/14px Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 20px;
  overflow: hidden;
}
.gh-btn,
.gh-count,
.gh-ico {
  float: left;
}
.gh-btn,
.gh-count {
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  padding: 2px 5px 2px 4px;
  text-decoration: none;
  white-space: nowrap;
}

.gh-btn {
  background-color: #eee;
  background-image: linear-gradient(180deg, #fcfcfc 0, #eee);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#eeeeee", GradientType=0);
}

.gh-btn:focus,
.gh-btn:hover {
  background-color: #ddd;
  background-image: linear-gradient(180deg, #eee 0, #ddd);
  border-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee", endColorstr="#dddddd", GradientType=0);
  text-decoration: none;
}

.gh-btn:active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.gh-ico {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMTIgMTIgNDAgNDAiPjxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5IDAgOC40IDUuNSAxNS41IDEzIDE4IDEgLjIgMS4zLS40IDEuMy0uOXYtMy4yYy01LjMgMS4xLTYuNC0yLjYtNi40LTIuNi0uOS0yLjEtMi4xLTIuNy0yLjEtMi43LTEuNy0xLjIuMS0xLjEuMS0xLjEgMS45LjEgMi45IDIgMi45IDIgMS43IDIuOSA0LjUgMi4xIDUuNSAxLjYuMi0xLjIuNy0yLjEgMS4yLTIuNi00LjItLjUtOC43LTIuMS04LjctOS40IDAtMi4xLjctMy43IDItNS4xLS4yLS41LS44LTIuNC4yLTUgMCAwIDEuNi0uNSA1LjIgMiAxLjUtLjQgMy4xLS43IDQuOC0uNyAxLjYgMCAzLjMuMiA0LjcuNyAzLjYtMi40IDUuMi0yIDUuMi0yIDEgMi42LjQgNC42LjIgNSAxLjIgMS4zIDIgMyAyIDUuMSAwIDcuMy00LjUgOC45LTguNyA5LjQuNy42IDEuMyAxLjcgMS4zIDMuNXY1LjJjMCAuNS40IDEuMSAxLjMuOSA3LjUtMi42IDEzLTkuNyAxMy0xOC4xIDAtMTAuNS04LjUtMTktMTktMTl6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 14px;
  margin-right: 4px;
  width: 14px;
}

.glowTouch-1b4tlcu {
    padding: 0 20px;
    padding-top: 12px;
  }
  
  @media (min-width: 600px) {
    .glowTouch-1b4tlcu {
      margin: 0 5.55555%;
    }
  }
  
  @media (min-width: 1200px) {
    .glowTouch-1b4tlcu {
      margin: 0 11.1111%;
    }
  }
  
  @media (min-width: 1800px) {
    .glowTouch-1b4tlcu {
      margin: 0 16.66665%;
    }
  }
  
  @media (min-width: 2400px) {
    .glowTouch-1b4tlcu {
      margin: 0 22.2222%;
    }
  }
  
  @media (min-width: 600px) {
    .glowTouch-1b4tlcu {
      padding-top: 36px;
    }
  }
  
  .glowTouch-1jqf4gi {
    height: 3rem;
    position: relative;
    text-align: center;
    z-index: 3;
  }
  
  .glowTouch-ww6o6b {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (min-width: 900px) {
    .glowTouch-ww6o6b .e154td7m0 + .e154td7m0 {
      margin-left: 25px;
    }
  }
  
  .glowTouch-g4w1a7 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 3rem;
    line-height: 3rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .glowTouch-g4w1a7.glowTouch-g4w1a7 svg {
    margin-right: 0;
  }
  
  .glowTouch-1lzd12e {
    display: inline-block;
    -webkit-transition: -webkit-transform 150ms ease-out,
      color 150ms ease-out;
    transition: transform 150ms ease-out, color 150ms ease-out;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1ea7fd;
    display: inline-block;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  
  .glowTouch-1lzd12e:hover,
  .glowTouch-1lzd12e:focus-visible {
    cursor: pointer;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #0297f5;
  }
  
  .glowTouch-1lzd12e:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: #028ee6;
  }
  
  .glowTouch-1lzd12e svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    position: relative;
    bottom: -0.125em;
    margin-right: 0.4em;
  }
  
  .glowTouch-1lzd12e img {
    height: 22px;
    width: auto;
    margin-top: 14px;
    display: block;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  @media (min-width: 600px) {
    .glowTouch-1lzd12e img {
      height: 26px;
      margin-top: 10px;
    }
  }
  
  .glowTouch-1lzd12e img:hover {
    -webkit-transform: translate3d(0, -1px, 0);
    -moz-transform: translate3d(0, -1px, 0);
    -ms-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
  
  .glowTouch-1lzd12e img:active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .glowTouch-11swlbp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: auto;
    right: 0;
  }
  
  @media (min-width: 900px) {
    .glowTouch-11swlbp .e154td7m0 + .e154td7m0 {
      margin-left: 25px;
    }
  }
  
  .glowTouch-1a1l4kv {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 3rem;
    line-height: 3rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
  }
  
  .glowTouch-1a1l4kv.glowTouch-1a1l4kv svg {
    margin-right: 0;
  }
  
  @media (min-width: 900px) {
    .glowTouch-1a1l4kv {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }
  }
  
  .glowTouch-h3nff7 {
    display: inline-block;
    -webkit-transition: -webkit-transform 150ms ease-out,
      color 150ms ease-out;
    transition: transform 150ms ease-out, color 150ms ease-out;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1ea7fd;
    color: #666666;
    font-size: 14px;
    font-weight: 800;
  }
  
  .glowTouch-h3nff7:hover,
  .glowTouch-h3nff7:focus-visible {
    cursor: pointer;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #0297f5;
  }
  
  .glowTouch-h3nff7:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: #028ee6;
  }
  
  .glowTouch-h3nff7 svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    position: relative;
    bottom: -0.125em;
    margin-right: 0.4em;
  }
  
  .glowTouch-h3nff7:hover {
    color: #333333;
  }
  
  .glowTouch-h3nff7:active {
    color: #999999;
  }
  
  .glowTouch-1n0n9qo {
    display: inline-block;
    -webkit-transition: -webkit-transform 150ms ease-out,
      color 150ms ease-out;
    transition: transform 150ms ease-out, color 150ms ease-out;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1ea7fd;
    color: #666666;
    font-size: 14px;
    font-weight: 800;
  }
  
  .glowTouch-1n0n9qo:hover,
  .glowTouch-1n0n9qo:focus-visible {
    cursor: pointer;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #0297f5;
  }
  
  .glowTouch-1n0n9qo:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: #028ee6;
  }
  
  .glowTouch-1n0n9qo svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    position: relative;
    bottom: -0.125em;
    margin-right: 0.4em;
  }
  
  .glowTouch-1n0n9qo:hover {
    color: #333333;
  }
  
  .glowTouch-1n0n9qo:active {
    color: #999999;
  }
  
  .glowTouch-zmb90n {
    display: inline-block;
    shape-rendering: inherit;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    vertical-align: middle;
  }
  
  .glowTouch-zmb90n path {
    fill: currentColor;
  }
  
  .glowTouch-10gvw3t {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 3rem;
    line-height: 3rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    display: none;
  }
  
  .glowTouch-10gvw3t.glowTouch-10gvw3t svg {
    margin-right: 0;
  }
  
  @media (min-width: 900px) {
    .glowTouch-10gvw3t {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }
  }
  
  @media (min-width: 375px) {
    .glowTouch-10gvw3t {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  
  .glowTouch-7dkk8d {
    -webkit-transform: scale(0.84);
    -moz-transform: scale(0.84);
    -ms-transform: scale(0.84);
    transform: scale(0.84);
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .glowTouch-7dkk8d .github-btn {
    font: bold 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
  }
  
  .glowTouch-7dkk8d .github-btn .gh-btn,
  .glowTouch-7dkk8d .github-btn .gh-count {
    padding: 4px 8px;
  }
  
  .glowTouch-bx220u {
    display: block;
    min-width: 124px;
  }
  
  .glowTouch-1n0pifq {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 3rem;
    line-height: 3rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .glowTouch-1n0pifq.glowTouch-1n0pifq svg {
    margin-right: 0;
  }
  
  @media (min-width: 900px) {
    .glowTouch-1n0pifq {
      display: none;
    }
  }
  
  .glowTouch-q99zvx:focus svg {
    color: #1ea7fd;
  }
  
  .glowTouch-1pgooyc {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: -webkit-transform 150ms ease-out,
      color 150ms ease-out;
    transition: transform 150ms ease-out, color 150ms ease-out;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1ea7fd;
    color: #999999;
    width: 3rem;
    border: none !important;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
  }
  
  .glowTouch-1pgooyc:hover,
  .glowTouch-1pgooyc:focus-visible {
    cursor: pointer;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #0297f5;
  }
  
  .glowTouch-1pgooyc:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: #028ee6;
  }
  
  .glowTouch-1pgooyc svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    position: relative;
    bottom: -0.125em;
    margin-right: 0.4em;
  }
  
  .glowTouch-1pgooyc:hover {
    color: #666666;
  }
  
  .glowTouch-1pgooyc:active {
    color: #444444;
  }
  
  .glowTouch-1pgooyc svg {
    height: 18px;
    width: 18px;
    margin: 0;
    margin-right: -4px !important;
  }
  
  .glowTouch-lb5dvd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 20px 20px 0;
  }
  
  .glowTouch-hjgcan {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
  @media (min-width: 600px) {
    .glowTouch-hjgcan {
      -webkit-box-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      padding: 10px 20px;
    }
  }
  
  .glowTouch-1gg1jkh {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 12px;
    border-radius: 3em;
    font-weight: 700;
    color: #448028;
    background: #e1ffd4;
    box-shadow: rgba(68, 128, 40, 0.1) 0 0 0 1px inset;
  }
  
  .glowTouch-1gg1jkh svg {
    height: 12px;
    width: 12px;
    margin-right: 4px;
    margin-top: -2px;
  }
  
  .glowTouch-l7eka7 {
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .glowTouch-nicbzb {
    font-weight: 700;
    white-space: nowrap;
  }
  
  .glowTouch-139owaq {
    display: inline-block;
    -webkit-transition: -webkit-transform 150ms ease-out,
      color 150ms ease-out;
    transition: transform 150ms ease-out, color 150ms ease-out;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1ea7fd;
  }
  
  .glowTouch-139owaq:hover,
  .glowTouch-139owaq:focus-visible {
    cursor: pointer;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #0297f5;
  }
  
  .glowTouch-139owaq:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: #028ee6;
  }
  
  .glowTouch-139owaq svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    position: relative;
    bottom: -0.125em;
    margin-right: 0.4em;
  }
  
  .glowTouch-ycbzfh > svg:last-of-type {
    height: 0.7em;
    width: 0.7em;
    margin-right: 0;
    margin-left: 0.25em;
    bottom: auto;
    vertical-align: inherit;
  }
  
  .glowTouch-1co3orp {
    padding: 0 20px;
    position: relative;
    top: 2vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  @media (min-width: 600px) {
    .glowTouch-1co3orp {
      margin: 0 5.55555%;
    }
  }
  
  @media (min-width: 1200px) {
    .glowTouch-1co3orp {
      margin: 0 11.1111%;
    }
  }
  
  @media (min-width: 1800px) {
    .glowTouch-1co3orp {
      margin: 0 16.66665%;
    }
  }
  
  @media (min-width: 2400px) {
    .glowTouch-1co3orp {
      margin: 0 22.2222%;
    }
  }
  
  @media (min-width: 1200px) {
    .glowTouch-1co3orp {
      padding-top: 5rem;
      padding-bottom: 7rem;
    }
  }
  
  .glowTouch-1kzy3vt {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  
  @media (min-width: 1200px) {
    .glowTouch-1kzy3vt {
      margin-bottom: 5rem;
    }
  }
  
  .glowTouch-1tzbnf1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 600px) {
    .glowTouch-1tzbnf1 {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 1200px) {
    .glowTouch-1tzbnf1 {
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 0.75rem;
    }
  }
  
  .glowTouch-helfoz {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 600px) {
    .glowTouch-helfoz {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 1.5rem;
    }
  }
  
  .glowTouch-nw1k42.glowTouch-nw1k42 > * {
    width: 140px;
    margin: 0 10px;
  }
  
  .glowTouch-nw1k42.glowTouch-nw1k42 > *:first-child {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 600px) {
    .glowTouch-nw1k42.glowTouch-nw1k42 > * {
      width: 180px;
    }
    .glowTouch-nw1k42.glowTouch-nw1k42 > *:first-child {
      margin-bottom: 0;
    }
  }
  
  .glowTouch-1hydx41 {
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    vertical-align: top;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
    margin: 0;
    background: transparent;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    background: #1ea7fd;
    color: #ffffff;
  }
  
  .glowTouch-1hydx41:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  }
  
  .glowTouch-1hydx41:active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .glowTouch-1hydx41 .eotfes63 {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 700ms
      cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    opacity: 1;
  }
  
  .glowTouch-1hydx41 .eotfes62 {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  
  .glowTouch-1hydx41 svg {
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-right: 6px;
    margin-top: -2px;
    margin-bottom: -2px;
    pointer-events: none;
  }
  
  .glowTouch-1hydx41:hover {
    background: #059dfd;
  }
  
  .glowTouch-1hydx41:active {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3em inset;
  }
  
  .glowTouch-x9illq {
    display: inline-block;
    vertical-align: top;
  }
  
  .glowTouch-1htdcmx {
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    vertical-align: top;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 1;
    margin: 0;
    background: transparent;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    box-shadow: #1ea7fd 0 0 0 1px inset;
    color: #1ea7fd;
  }
  
  .glowTouch-1htdcmx:hover {
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  }
  
  .glowTouch-1htdcmx:active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .glowTouch-1htdcmx .eotfes63 {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 700ms
      cubic-bezier(0.175, 0.885, 0.335, 1.05);
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    opacity: 1;
  }
  
  .glowTouch-1htdcmx .eotfes62 {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  
  .glowTouch-1htdcmx svg {
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-right: 6px;
    margin-top: -2px;
    margin-bottom: -2px;
    pointer-events: none;
  }
  
  .glowTouch-1htdcmx:hover {
    box-shadow: #1ea7fd 0 0 0 1px inset;
    background: transparent;
  }
  
  .glowTouch-1htdcmx:active {
    background: #1ea7fd;
    box-shadow: #1ea7fd 0 0 0 1px inset;
    color: #ffffff;
  }
  
  .glowTouch-1dm04qq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  @media (min-width: 1200px) {
    .glowTouch-1dm04qq {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
    }
  }
  