
body {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  color: #333333;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

body * {
  box-sizing: border-box;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body button,
body input,
body textarea,
body select {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body sub,
body sup {
  font-size: 0.8em;
}

body sub {
  bottom: -0.2em;
}

body sup {
  top: -0.2em;
}

body b,
body em {
  font-weight: 700;
}

body em {
  font-style: normal;
}

body hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  clear: both;
  margin-bottom: 1.25rem;
}

body code,
body pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body code {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: baseline;
  color: #1ea7fd;
}

body pre {
  line-height: 18px;
  padding: 11px 1rem;
  white-space: pre-wrap;
  background: rgba(0, 0, 0, 0.05);
  color: #333333;
  border-radius: 3px;
  margin: 1rem 0;
}


.glowTouch-1dm04qq .e1mjxk3n3 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .glowTouch-1dm04qq .e1mjxk3n3 {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.glowTouch-1dm04qq .e1mjxk3n2 {
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
}

.glowTouch-14nqbuo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 10px 35px;
}

.glowTouch-i1dq3v {
  position: relative;
  width: 100%;
  height: 0;
}

.glowTouch-i1dq3v img {
  width: 100%;
  height: auto;
  display: block;
}

.glowTouch-15xn47p {
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 26.5%;
  top: 23.5%;
}

.glowTouch-15xn47p:hover:before {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
}

.glowTouch-15xn47p:before,
.glowTouch-15xn47p:after {
  border-radius: 1rem;
  content: "";
  display: block;
  position: absolute;
}

.glowTouch-15xn47p:before {
  height: 37.5%;
  width: 37.5%;
  background: #ff4785;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 1;
}

.glowTouch-15xn47p:after {
  height: 100%;
  width: 100%;
  background: #ff4785;
  opacity: 0.2;
  z-index: 0;
}

.glowTouch-1hpyhj7 {
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 0;
  top: 42%;
}

.glowTouch-1hpyhj7:hover:before {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
}

.glowTouch-1hpyhj7:before,
.glowTouch-1hpyhj7:after {
  border-radius: 1rem;
  content: "";
  display: block;
  position: absolute;
}

.glowTouch-1hpyhj7:before {
  height: 37.5%;
  width: 37.5%;
  background: #ff4785;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 1;
}

.glowTouch-1hpyhj7:after {
  height: 100%;
  width: 100%;
  background: #ff4785;
  opacity: 0.2;
  z-index: 0;
}

.glowTouch-bhu9hm {
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  left: 20.75%;
  top: 71%;
}

.glowTouch-bhu9hm:hover:before {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
}

.glowTouch-bhu9hm:before,
.glowTouch-bhu9hm:after {
  border-radius: 1rem;
  content: "";
  display: block;
  position: absolute;
}

.glowTouch-bhu9hm:before {
  height: 37.5%;
  width: 37.5%;
  background: #ff4785;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 1;
}

.glowTouch-bhu9hm:after {
  height: 100%;
  width: 100%;
  background: #ff4785;
  opacity: 0.2;
  z-index: 0;
}

@media (min-width: 1200px) {
  .glowTouch-1bdovy {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
  }
}

.glowTouch-1ur53lt {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  color: #999999;
  margin-bottom: 1rem;
}

.glowTouch-16da9u0 {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.glowTouch-16da9u0 .e1mjxk3n9 {
  padding-right: 10px;
  width: 20%;
  min-width: 130px;
}

@media (min-width: 1200px) {
  .glowTouch-16da9u0 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .glowTouch-16da9u0 .e1mjxk3n9 {
    width: auto;
  }
}

.glowTouch-11ktzbd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
}

.glowTouch-11ktzbd a {
  overflow: hidden;
}

.glowTouch-11ktzbd a > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .glowTouch-11ktzbd:last-child {
    margin-bottom: 0;
  }
}

.glowTouch-wro6zw {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
  text-transform: capitalize;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 1rem;
  font-weight: 700;
}

.glowTouch-wro6zw:hover,
.glowTouch-wro6zw:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-wro6zw:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-wro6zw svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-wro6zw img {
  display: inline-block;
  vertical-align: top;
  height: 1rem;
  width: 1rem;
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .glowTouch-wro6zw img {
    margin-right: 15px;
  }
}

.glowTouch-wro6zw svg {
  margin-left: 5px;
  height: 0.7rem;
  width: 0.7rem;
  bottom: inherit;
}

.glowTouch-1ctk4ej {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.glowTouch-1ctk4ej > * {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 1.25rem;
}

@media (min-width: 1200px) {
  .glowTouch-1ctk4ej {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .glowTouch-1ctk4ej > * {
    margin-bottom: 1.25rem;
  }
}

.glowTouch-13ixc73 {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
  padding: 0;
  display: block;
}

.glowTouch-13ixc73:hover,
.glowTouch-13ixc73:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-13ixc73:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-13ixc73 svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-1mf8s40 {
  display: inline-block;
  text-align: left;
  padding: 8px 12px;
  border-radius: 4px;
  padding: 0;
  display: block;
}

.glowTouch-1mf8s40 .ek50fmu2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 2px;
}

.glowTouch-1mf8s40 .ek50fmu1 {
  color: #999999;
  font-size: 12px;
  line-height: 14px;
  clear: both;
}

.glowTouch-109gw3g {
  color: #666666;
  display: block;
  color: #ffae00;
}

.glowTouch-109gw3g span {
  display: inline-block;
}

.glowTouch-fkcdmb span {
  display: inline-block;
  color: #999999;
    font-size: 12px;
    line-height: 14px;
}

.glowTouch-yki77r {
  display: inline-block;
  text-align: left;
  /* vertical-align: top; */
  padding: 8px 12px;
  border-radius: 4px;
  padding: 0;
  display: block;
}

.glowTouch-yki77r .ek50fmu2,
.glowTouch-yki77r .ek50fmu1 {
  overflow: hidden;
}

.glowTouch-yki77r .ek50fmu2 > span,
.glowTouch-yki77r .ek50fmu1 > span,
.glowTouch-yki77r .ek50fmu2 a,
.glowTouch-yki77r .ek50fmu1 a {
  -webkit-animation: animation-r0iffl 1.5s ease-in-out infinite;
  animation: animation-r0iffl 1.5s ease-in-out infinite;
  background: #eeeeee;
  color: transparent;
  cursor: progress;
}

.glowTouch-yki77r .ek50fmu2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 2px;
}

.glowTouch-yki77r .ek50fmu1 {
  color: #999999;
  font-size: 12px;
  line-height: 14px;
  clear: both;
}

.glowTouch-dmjz0j {
  color: #666666;
  display: block;
  color: #1ea7fd;
}

.glowTouch-dmjz0j span {
  display: inline-block;
}

.glowTouch-hvvanr {
  color: #666666;
  display: block;
  color: #66bf3c;
}

.glowTouch-hvvanr span {
  display: inline-block;
}

.glowTouch-1yftb2h {
  padding: 0 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 600px) {
  .glowTouch-1yftb2h {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1yftb2h {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-1yftb2h {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-1yftb2h {
    margin: 0 22.2222%;
  }
}

.glowTouch-r8xoim {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.glowTouch-r8xoim:not(:only-child) {
  padding-bottom: 0.75rem;
}

@media (min-width: 799.8px) {
  .glowTouch-r8xoim {
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .glowTouch-r8xoim:not(:only-child) {
    padding-bottom: 1.5rem;
  }
}

.glowTouch-r8xoim .e1iuof8n3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.glowTouch-1czhg1r {
  padding: 0 20px;
  display: inline-block;
  text-align: center;
}

.glowTouch-11alk9k {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 80px;
  max-height: 24px;
  object-fit: contain;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (min-width: 799.8px) {
  .glowTouch-11alk9k {
    max-width: 92px;
    max-height: 32px;
  }
}

.glowTouch-ti75j2 {
  margin: 0;
}

.glowTouch-ekeeef {
  padding: 0 20px;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  .glowTouch-ekeeef {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-ekeeef {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-ekeeef {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-ekeeef {
    margin: 0 22.2222%;
  }
}

@media (min-width: 600px) {
  .glowTouch-ekeeef {
    text-align: left;
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }
  .glowTouch-ekeeef .ecg98e21 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .glowTouch-ekeeef .ecg98e24 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    width: 50%;
  }
  .glowTouch-ekeeef .ecg98e21 {
    padding-right: 10%;
  }
}

.glowTouch-dqmn0x {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .glowTouch-dqmn0x {
    margin-bottom: 0;
  }
}

.glowTouch-l6f84g {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .glowTouch-l6f84g {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0.75rem;
  }
}

.glowTouch-1ppjfgp {
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

@media (min-width: 600px) {
  .glowTouch-1ppjfgp {
    font-size: 20px;
    line-height: 32px;
  }
}

.glowTouch-n48rgu {
  width: 100%;
  position: relative;
}

.glowTouch-1vlw1q7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.glowTouch-1vlw1q7 > * {
  padding-bottom: 3rem;
}

@media (min-width: 900px) {
  .glowTouch-1vlw1q7 > * {
    padding: 4rem 70px 4rem;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .glowTouch-1vlw1q7 > *:nth-child(-n + 2) {
    padding-top: 2rem;
  }
  .glowTouch-1vlw1q7 > *:nth-child(odd) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 45px;
  }
  .glowTouch-1vlw1q7 > *:nth-child(even) {
    padding-right: 45px;
  }
  .glowTouch-1vlw1q7 > *:nth-last-child(-n + 2) {
    border-bottom: none;
    padding-bottom: 1rem;
  }
}

@media (min-width: 600px) {
  .glowTouch-1vlw1q7 {
    margin: 0 5.55555%;
  }
}

@media (min-width: 900px) {
  .glowTouch-1vlw1q7 {
    padding-bottom: 5rem;
    margin: 0 11.1111%;
  }
  .glowTouch-1vlw1q7 > * {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1vlw1q7 {
    margin: 0 16.66665%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-1vlw1q7 {
    margin: 0 27.77775%;
  }
}

.glowTouch-6c3x63 {
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 900px) {
  .glowTouch-6c3x63 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}

.glowTouch-1c3guop {
  margin-right: 20px;
  margin-top: 4px;
}

.glowTouch-1c3guop img {
  display: block;
  width: 120px;
  height: auto;
  margin: -7.5px;
}

@media (min-width: 900px) {
  .glowTouch-1c3guop {
    margin-bottom: 2rem;
    margin-right: 0;
    margin-top: 0;
    float: none;
  }
  .glowTouch-1c3guop img {
    height: 260px;
    width: 240px;
    margin: -15px;
  }
}

.glowTouch-zxo0lx {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0rem;
}

@media (min-width: 900px) {
  .glowTouch-zxo0lx {
    margin-bottom: 0.5rem;
    font-size: 20px;
    line-height: 28px;
  }
}

.glowTouch-165xq35 {
  color: #666666;
  font-size: 16px;
  line-height: 28px;
}

.glowTouch-5216lu {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
}

.glowTouch-5216lu:hover,
.glowTouch-5216lu:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-5216lu:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-5216lu svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-1qb95ve {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .glowTouch-1qb95ve {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1qb95ve {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-1qb95ve {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-1qb95ve {
    margin: 0 22.2222%;
  }
}

.glowTouch-15i8qv7 {
  margin: 0;
  display: block;
}

.glowTouch-1hkuxdi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 20px;
}

@media (min-width: 600px) {
  .glowTouch-1hkuxdi {
    margin: 0 16.66665%;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1hkuxdi {
    margin: 0 22.2222%;
  }
}

.glowTouch-13bwum6 {
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
  margin-bottom: 1.5rem;
  max-width: 480px;
  text-align: center;
}

@media (min-width: 600px) {
  .glowTouch-13bwum6 {
    color: #333333;
    font-size: 20px;
    line-height: 32px;
  }
}

.glowTouch-1vcob1d {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.glowTouch-s5xdrg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.glowTouch-7mld4t {
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-transform: uppercase;
  height: 28px;
  width: 28px;
  line-height: 28px;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.glowTouch-7mld4t img {
  width: 100%;
  height: auto;
  display: block;
}

.glowTouch-1a2afmv {
  margin-left: 10px;
}

.glowTouch-182kmv3 {
  font-size: 14px;
  font-weight: 700;
}

.glowTouch-psji7g {
  font-size: 12px;
  color: #666666;
}

.glowTouch-1ecmvj6 {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  margin-left: 20px;
  padding-left: 20px;
}

.glowTouch-1ecmvj6 img {
  display: inline-block;
  width: auto;
  max-height: 24px;
}

.glowTouch-xb312e {
  background-color: #f6f9fc;
}

.glowTouch-18b67rp {
  padding: 0 20px;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  .glowTouch-18b67rp {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-18b67rp {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-18b67rp {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-18b67rp {
    margin: 0 22.2222%;
  }
}

@media (min-width: 600px) {
  .glowTouch-18b67rp {
    text-align: left;
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .glowTouch-18b67rp .ecg98e21 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .glowTouch-18b67rp .ecg98e24 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    width: 50%;
  }
  .glowTouch-18b67rp .ecg98e21 {
    padding-right: 0;
    padding-left: 10%;
  }
}

.glowTouch-10ocir2 {
  background-color: #f8f8f8;
  border-radius: 3px;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 85%;
  line-height: 1;
  padding: 3px 5px;
  white-space: nowrap;
}

.glowTouch-1ldya8b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 3rem 20px;
}

@media (min-width: 600px) {
  .glowTouch-1ldya8b {
    margin: 0 16.66665%;
    padding-bottom: 5rem;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1ldya8b {
    margin: 0 22.2222%;
  }
}

.glowTouch-1ldya8b .e1ja8wob5 {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

@media (min-width: 600px) {
  .glowTouch-1ldya8b .e1ja8wob5 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 60px;
  }
}

.glowTouch-1ldya8b .e1ja8wob4 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media (min-width: 600px) {
  .glowTouch-1ldya8b .e1ja8wob4 {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.glowTouch-1u5ul4r {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1.25rem;
}

@media (min-width: 600px) {
  .glowTouch-1u5ul4r {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.glowTouch-l1avmx {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 3rem 20px;
}

@media (min-width: 600px) {
  .glowTouch-l1avmx {
    padding-bottom: 5rem;
  }
}

.glowTouch-1bd6rq3 {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.5rem;
  color: #666666;
}

@media (min-width: 600px) {
  .glowTouch-1bd6rq3 {
    margin-bottom: 2rem;
  }
}

.glowTouch-ss641m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.glowTouch-agj0fu {
  margin: 0 auto 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 516px;
  -webkit-align-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

@media (min-width: 799.8px) {
  .glowTouch-agj0fu {
    margin: 0 auto 30px;
    gap: 30px 40px;
    max-width: 660px;
  }
}

.glowTouch-agj0fu:last-child {
  margin-bottom: 0 !important;
}

.glowTouch-1ova6u3 {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
    0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 799.8px) {
  .glowTouch-1ova6u3 {
    width: 60px;
    height: 60px;
  }
}

.glowTouch-1ova6u3 img {
  width: 100%;
  height: 100%;
  display: block;
}

.glowTouch-v38mwf {
  background-color: #f6f9fc;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 20px;
}

.glowTouch-15h8fsx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .glowTouch-15h8fsx {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.glowTouch-dn2o6s {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.glowTouch-dn2o6s:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .glowTouch-dn2o6s:first-child {
    margin-left: 5.55555%;
    padding-right: 60px;
  }
  .glowTouch-dn2o6s:last-child {
    margin-right: 5.55555%;
    padding-left: 60px;
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1200px) {
  .glowTouch-dn2o6s:first-child {
    margin-left: 11.1111%;
  }
  .glowTouch-dn2o6s:last-child {
    margin-right: 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-dn2o6s:first-child {
    margin-left: 16.66665%;
  }
  .glowTouch-dn2o6s:last-child {
    margin-right: 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-dn2o6s:first-child {
    margin-left: 22.2222%;
  }
  .glowTouch-dn2o6s:last-child {
    margin-right: 22.2222%;
  }
}

.glowTouch-1wxho75 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.glowTouch-1wxho75:not(:last-child) {
  margin-bottom: 2rem;
}

.glowTouch-1wxho75 img {
  margin-right: 20px;
  display: block;
  width: 40px;
  height: auto;
}

@media (min-width: 600px) {
  .glowTouch-1wxho75 img {
    width: 48px;
  }
}

.glowTouch-d3v9zr {
  overflow: hidden;
}

.glowTouch-tco8ma {
  font-weight: 800;
  margin-bottom: 0.25rem;
}

.glowTouch-6l27w5 {
  margin-bottom: 0.25rem;
}

.glowTouch-axk6yi {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
  margin-right: 15px;
  text-transform: capitalize;
}

.glowTouch-axk6yi:hover,
.glowTouch-axk6yi:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-axk6yi:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-axk6yi svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-2lef5g {
  padding: 0 20px;
  padding-top: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .glowTouch-2lef5g {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-2lef5g {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-2lef5g {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-2lef5g {
    margin: 0 22.2222%;
  }
}

.glowTouch-2lef5g .e74j52910 {
  width: 100%;
  margin-bottom: 3rem;
  display: block;
}

@media (min-width: 600px) {
  .glowTouch-2lef5g .e74j52910 {
    margin-bottom: 3rem;
    width: auto;
    max-width: 200px;
  }
}

.glowTouch-2lef5g .e74j5299 {
  width: 50%;
  margin-bottom: 2.25rem;
}

@media (min-width: 600px) {
  .glowTouch-2lef5g .e74j5299 {
    padding-right: 20px;
    width: auto;
    margin-bottom: 2.25rem;
  }
}

.glowTouch-2lef5g .e74j5298 {
  width: 100%;
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .glowTouch-2lef5g .e74j5298 {
    width: auto;
    margin-bottom: 3rem;
  }
}

.glowTouch-wpehd8 a {
  display: inline-block;
  vertical-align: top;
}

.glowTouch-1e2pjg4 {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
  margin-bottom: 1rem;
  display: block;
}

.glowTouch-1e2pjg4:hover,
.glowTouch-1e2pjg4:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-1e2pjg4:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-1e2pjg4 svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-1e2pjg4 img {
  height: 28px;
  width: auto;
  display: block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glowTouch-1e2pjg4 img:hover {
  -webkit-transform: translate3d(0, -1px, 0);
  -moz-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}

.glowTouch-1e2pjg4 img:active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glowTouch-1tccpil {
  color: #444444;
}

.glowTouch-11ibsn {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
  color: #666666;
}

.glowTouch-11ibsn:hover,
.glowTouch-11ibsn:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-11ibsn:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-11ibsn svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-11ibsn:hover {
  color: #333333;
}

.glowTouch-11ibsn:active {
  color: #999999;
}

.glowTouch-9ukaqn > .e74j52912 {
  display: block;
  margin-bottom: 0.75rem;
}

.glowTouch-o44aoy {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  margin-bottom: 1rem;
  color: #999999;
}

.glowTouch-yrrrov {
  display: inline-block;
  -webkit-transition: -webkit-transform 150ms ease-out,
    color 150ms ease-out;
  transition: transform 150ms ease-out, color 150ms ease-out;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1ea7fd;
  color: #666666;
}

.glowTouch-yrrrov:hover,
.glowTouch-yrrrov:focus-visible {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #0297f5;
}

.glowTouch-yrrrov:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  color: #028ee6;
}

.glowTouch-yrrrov svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  position: relative;
  bottom: -0.125em;
  margin-right: 0.4em;
}

.glowTouch-yrrrov:hover {
  color: #333333;
}

.glowTouch-yrrrov:active {
  color: #999999;
}

.glowTouch-hi6vbx .e74j52911 {
  margin-bottom: 1rem;
}

.glowTouch-l4556 {
  max-width: 340px;
  min-width: 280px;
  width: 100%;
}

.glowTouch-l4556 .e1wr2zpu4 input {
  border-radius: 4px 0 0 4px;
}

.glowTouch-l4556 .e1wr2zpu3 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px 0;
  border-radius: 0 4px 4px 0;
}

@media (min-width: 600px) {
  .glowTouch-l4556 {
    margin: 0 0 0;
  }
}

.glowTouch-ho1qnd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.glowTouch-12r2j1w {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.glowTouch-tve7v3 {
  margin-bottom: 8px;
  border: 0px !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(100%) !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0px !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.glowTouch-orii8b {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.glowTouch-1rvw6nl {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.glowTouch-1rvw6nl .e1ye6cr75 {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
}

.glowTouch-1rvw6nl .e1ye6cr75:focus {
  box-shadow: #1ea7fd 0 0 0 1px inset;
}

.glowTouch-1rvw6nl > svg {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  position: absolute;
  top: 50%;
  font-size: 14px;
  height: 1em;
  width: 1em;
  margin-top: -0.525em;
  z-index: 3;
  left: 15px;
  background: transparent;
}

.glowTouch-1rvw6nl > svg path {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  fill: #999999;
}

.glowTouch-1rvw6nl .e1ye6cr75:focus + svg path {
  fill: #444444;
}

.glowTouch-1rvw6nl .e1ye6cr75 {
  padding-left: 40px;
}

.glowTouch-1d3w5wq {
  width: 100%;
}

.glowTouch-gymew0 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  box-sizing: border-box;
  display: block;
  outline: none;
  width: 100%;
  margin: 0;
}

.glowTouch-gymew0::-webkit-input-placeholder {
  color: #999999;
}

.glowTouch-gymew0::-moz-placeholder {
  color: #999999;
}

.glowTouch-gymew0:-ms-input-placeholder {
  color: #999999;
}

.glowTouch-gymew0::placeholder {
  color: #999999;
}

.glowTouch-gymew0[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.glowTouch-gymew0:-webkit-autofill {
  box-shadow:  0 0 0 3em #ffffff inset;
  -webkit-box-shadow: 0 0 0 3em #ffffff inset;
}

.glowTouch-1eogrl2 {
  display: inline-block;
  z-index: 2147483647;
  margin-bottom: 8px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}

.glowTouch-1xalts5 {
  position: absolute;
  border-style: solid;
  display: none;
  margin-bottom: 0px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  bottom: -8px;
  top: autopx;
  right: autopx;
  left: autopx;
  border-bottom-width: 0px;
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
  border-top-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.glowTouch-5fd2g9 {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
  vertical-align: top;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
  margin: 0;
  background: transparent;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  background: #1ea7fd;
  color: #ffffff;
  -webkit-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}

.glowTouch-5fd2g9:hover {
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

.glowTouch-5fd2g9:active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glowTouch-5fd2g9 .eotfes63 {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -ms-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 700ms
    cubic-bezier(0.175, 0.885, 0.335, 1.05);
  transition: transform 700ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  opacity: 1;
}

.glowTouch-5fd2g9 .eotfes62 {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.glowTouch-5fd2g9 svg {
  height: 16px;
  width: 16px;
  vertical-align: top;
  margin-right: 6px;
  margin-top: -2px;
  margin-bottom: -2px;
  pointer-events: none;
}

.glowTouch-5fd2g9:hover {
  background: #059dfd;
}

.glowTouch-5fd2g9:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3em inset;
}

.glowTouch-1umfri3 {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .glowTouch-1umfri3 {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1umfri3 {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-1umfri3 {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-1umfri3 {
    margin: 0 22.2222%;
  }
}

.glowTouch-1umfri3 hr {
  margin: 0;
}

.glowTouch-1p9sysw {
  padding: 0 20px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .glowTouch-1p9sysw {
    margin: 0 5.55555%;
  }
}

@media (min-width: 1200px) {
  .glowTouch-1p9sysw {
    margin: 0 11.1111%;
  }
}

@media (min-width: 1800px) {
  .glowTouch-1p9sysw {
    margin: 0 16.66665%;
  }
}

@media (min-width: 2400px) {
  .glowTouch-1p9sysw {
    margin: 0 22.2222%;
  }
}

@media (min-width: 600px) {
  .glowTouch-1p9sysw {
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    text-align: center;
  }
}

.glowTouch-1p9sysw .e74j5293 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

@media (min-width: 600px) {
  .glowTouch-1p9sysw .e74j5293 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.glowTouch-1p9sysw a {
  display: inline-block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glowTouch-1p9sysw a:hover {
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}

.glowTouch-1p9sysw a:active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.glowTouch-1p9sysw .e74j5296,
.glowTouch-1p9sysw .e74j5295,
.glowTouch-1p9sysw .e74j5294 {
  height: 22px;
  width: auto;
  display: inline-block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.glowTouch-1p9sysw .e74j5294 {
  opacity: 0.75;
}

.glowTouch-1nsx0pr:not(:last-child) {
  margin-bottom: 1rem;
}

.glowTouch-1nsx0pr .e74j52911 {
  margin-bottom: 0.5rem;
  color: #999999;
}
.remark-header-link.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

.remark-header-link.after {
  display: inline-block;
  padding-left: 4px;
}

h1 .remark-header-link svg,
h2 .remark-header-link svg,
h3 .remark-header-link svg,
h4 .remark-header-link svg,
h5 .remark-header-link svg,
h6 .remark-header-link svg {
  visibility: hidden;
}

h1:hover .remark-header-link svg,
h2:hover .remark-header-link svg,
h3:hover .remark-header-link svg,
h4:hover .remark-header-link svg,
h5:hover .remark-header-link svg,
h6:hover .remark-header-link svg,
h1 .remark-header-link:focus svg,
h2 .remark-header-link:focus svg,
h3 .remark-header-link:focus svg,
h4 .remark-header-link:focus svg,
h5 .remark-header-link:focus svg,
h6 .remark-header-link:focus svg {
  visibility: visible;
}